<!--Navbar-->
<nav class="navbar navbar-inverse" style="border-radius: 0">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Front-End Exam
      </a>
    </div>
  </div>
</nav>

<!--panel Userlist-->
<div class="PanelBody-Userlist">
      <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">User List</a></li>
          <li role="presentation" class="active2"><a href="#">Add User</a></li>
    </ul>
</div>  

<!--table-->

<div>
 <table class="table table-striped table-bordered" style="background-color:#fff8be">
 <tr>
   <th>Name</th>
   <th>Email</th>
   <th>Address</th>
  <th>Company</th>
  <th>Action</th>

 </tr>   


<tr *ngFor = "let d of data">
   <td> {{d.name}} </td>
   <td> {{d.email}} </td>
   <td> {{d.address.street}} </td>
   <td> {{d.company.name}} </td>
   <td> <button class="remove"> remove </button></td>
</tr>  
 </table>  
</div>  
